@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow: hidden;
}

.container {
    width: 100%;
    min-height: 10vh;
    background-color: #F2E8C6; 
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    line-height: 80px;
    z-index: 111;
}

.logo {
    display: flex;
    font-size: 40px;
    font-weight: 800;
    color: #952323;
    cursor: pointer;
    text-transform: uppercase;
}

b {
    font-size: 70px;
    color: #A73121;
}

.navItems {
    display: flex;
}

.navItems li {
    list-style: none;
    margin: 0 15px;
}

.navItems li a {
    font-size: 25px;
    color: #DAD4B5;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: capitalize;
}

.navItems li:hover a,
.links a:hover {
    color: #952323;
}

.links a {
    font-size: 30px;
    color: #DAD4B5;
    margin: 25px 10px; /* Perbaiki dari "marhin" ke "margin" */
}

.about-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
    background-color: #F2E8C6;
    padding: 20px;
}

.about-content {
    width: 60%;
    padding: 20px;
    animation: fadeIn 1s ease-in;
}

.about-content h2 {
    font-size: 3em;
    color: #952323;
    margin-bottom: 20px;
    text-align: left;
    animation: slideInLeft 0.8s ease forwards;
}

.about-content p {
    font-size: 1.2em;
    color: #A73121;
    margin: 15px 0;
}

.about-image {
    width: 40%;
    animation: fadeInUp 1s ease-in;
}

.about-image img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transform: scale(0);
    animation: scaleUp 0.5s ease forwards;
}

/* Animasi */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scaleUp {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
